meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
title #{title} [#{mode} Mode] 
style
link(rel="stylesheet", href="/assets/components/flexboxgrid/css/flexboxgrid.css")
link(rel="stylesheet", href="/assets/components/winjs/css/ui-dark.css")
link(rel="stylesheet", type="text/css", href="/assets/styles/app.css")
base(href="/")