script(src="/assets/components/angular/angular.js")
script(src="/assets/components/angular-route/angular-route.js")
script(src="/assets/components/angular-resource/angular-resource.js")
script(src="/assets/components/winjs/js/base.js")
script(src="/assets/components/winjs/js/ui.js")
script(src="/assets/components/angular-winjs/js/angular-winjs.js")
script(src="/assets/js/app.js")
script(src="/assets/js/dataServices.js")
script(src="/assets/js/users.js")
script(src="/assets/js/user.js")