html,
body{
  width: 100%;
  height: 100%;
}

body{
  padding: 20px 15px 0;
}

#UsersListView{
  margin: 30px auto 0;
  
  .win-container{
    padding: 2px;
    height: 64px;
  }
  
  .userItem{
      
    img{
      width: 60px;  
      margin: 2px;              
    }
    
    .description{
      display: inline-block;
      vertical-align: top;
    }
  }

}

.user-profile{
  margin-top: 30px;
    
  .general-infos{
    img{
      width: 200px;
      border: 2px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  
  // #FollwersListView{
  //   width: 100%;
  //   .follower{
  //     img{
  //       width: 80px;
  //     }
  //   }
  // }
  
}